
<div class="col-sm-12 col-md-8 ">
  <div class="card mx-0 post-card">
    <div class="row no-gutters">

      <div class="col align-self-center text-center">
        <a href="{{ .Params.codelink }}" target="_blank">
          {{ .Params.page }}.{{ .Params.index }}
        </a>
      </div>
      <div class="col-11" style="border-left: solid 1px lightgray;">
        {{ if and (isset .Params "thumbnail") (not (eq .Params.thumbnail "")) }}
          <a href="{{ .Permalink }}" itemprop="url">
              {{if or (in (substr .Params.thumbnail 0 7) "http://") (in (substr .Params.thumbnail 0 8) "https://")}}
                <img src="{{ .Params.thumbnail }}" class="card-img-top">
              {{ else if  (in (substr .Params.thumbnail 0 1) "/" ) }}
                <img src="{{ .Params.thumbnail | relURL }}" class="card-img-top">
              {{ else }}
                <img src="{{ .Permalink }}{{ .Params.thumbnail }}" class="card-img-top">
              {{end}}
          </a>
          {{ end }}

        <div class="card-body">
          <p class="card-subtitle mb-2 text-muted">
            Posted by {{ .Params.Author }} <span style="float: right;">{{ .Date.Format "Jan 02th 1:04 PM" }}</span>
          </p>
          <h5 class="card-title">
              {{ .Title }}
          </h5>
          <p class="card-text">
              {{ if .IsPage }}
              {{ if .Description }}
                {{ .Description | markdownify | truncate 140 }}
              {{ else }}
                {{ .Summary | truncate 140}}
              {{ end }}
            {{ end }}
          </h4>
        </div>
        <div class="card-footer recentpost">
          {{ if isset .Params "categories" }}
              {{ $categoriesLen := len .Params.categories }}
              {{ if gt $categoriesLen 0 }}
              <div class="post-meta-item">
                  <i class="fa fa-folder-open-o"></i>
                  {{ range $k, $v := .Params.categories }}
                  <a class="article-category-link" href="{{ (print "categories/" (. | urlize | lower) "/") | relURL }}">{{ . }}</a>
                  {{ if lt $k (sub $categoriesLen 1) }}&middot;{{ end }}
                  {{ end }}
              </div>
              {{ end }}
          {{ end }}

          {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
              <div class="post-meta-item">
                <i class="fa fa-tags"></i>
                {{ range $k, $v := .Params.tags }}
                <a href="{{ (print "tags/" (. | urlize | lower) "/") | relURL }}">{{ . }}</a>
                {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                {{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>  
      </div>
      </div>

    </div>
</div>

