{{ if isset .Params "chapter" }}
    <nav class="navbar navbar-expand-lg site-navbar navbar-fixed-top {{ .Site.Params.navbarBgColorClass | default .Site.Data.Defaults.navbarBgColorClass }}">
        <div class="text-center" style="width: 100%; color: white; text-align: center;">
            {{ if isset .Params "chapter" }}
            <span>
                {{ $chapter_data := index $.Site.Data.chapterdata .Params.chapter}}
                {{ .Params.chapter }}. {{ $chapter_data.Name }}
            </span>
            -
            {{ end }}
            {{ if isset .Params "article" }}
            <span>
                {{ $ca := print .Params.chapter .Params.article }}
                {{ $article_data := index $.Site.Data.articledata $ca }}
                {{ .Params.article }}. {{ $article_data.Name }}
            </span>
            -
            {{ end }}
            {{ if isset .Params "division" }}
            <span>
                {{ $cad := print .Params.chapter .Params.article "-" .Params.division }}
                {{ $division_data := index $.Site.Data.divisiondata $cad }}
                {{ .Params.division }}. {{ $division_data.Name }}
            </span>
            {{ end }}
        </div>
    </nav>
{{ end }}